{% load staticfiles %}
 {% if formulario %}
<form id="form_administrador_2" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return guardar_cambios('{{id_admin}}');">{% csrf_token %}
               
                  <div class="user-content">
                    <div class="white-box">
                        <h3 class="box-title">Cargar foto de usuario</h3>
                        {{ formulario.pic_profile}}
                        
                    </div>
                  </div>
                  
                  {{ formulario.nombre.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.nombre.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.nombre }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>

                    {{ formulario.apellido.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.apellido.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.apellido }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>

                    {{ formulario.mail.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.mail.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-envelope-o "></i></span>
                      {{ formulario.mail }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>

                    {{ formulario.usuario.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.usuario.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.usuario }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success pull-left">Guardar cambios
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>


</form>

{% else %}
    <p>Error al cargar contenido.</p>
{% endif %}     
{% block js %}

<script type="text/javascript">
    $('.dropify').dropify();

 function guardar_cambios(id_admin){
    
    if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
      alert('The File APIs are not fully supported in this browser.');
      return;
    }
 
    $.ajax({
          data : $('#form_administrador_2').serialize()+"&id_admin="+id_admin,
          url: '{% url "guardar_cambio_administrador" %}',
          type : 'post',
          success : function(data){
            console.log(data);
            
            if(data!=0){
              $('#admin_'+id_admin+' .nombre').html(data.nombre);
              $('#admin_'+id_admin+' .apellido').html(data.apellido);
              $('#admin_'+id_admin+' .mail').html(data.mail);
              $('#admin_'+id_admin+' .usuario').html(data.usuario);
              $('.modal').modal('toggle');
            }
            // if (data.result==1) {
            //   location.reload();
            //   swal({ 
            //     title: "Guardado con éxito",
            //      text: "Los datos del paciente han sido modificados",
            //       type: "success" 
            //     },
            //     function(){
            //       location.reload();
            //   });
            // }else{
            //   swal("Error", "Problema al guardar cambios, revise los datos del formulario."+data.contenido, "error"); 
              
            // }
          }
        });
        
      return false;
    }
  


  
   
    
</script>
{% endblock %}