{% load staticfiles %}
 {% if formulario %}


<form id="form_nino_2" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return guardar_cambios('{{id_nino}}');">{% csrf_token %}
               
                   {{ formulario.cod_apadr.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.cod_apadr.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.cod_apadr }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>
 
                  
                  {{ formulario.cedula.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.cedula.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.cedula }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>
                     {{ formulario.fecha_nacimiento.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.fecha_nacimiento.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.fecha_nacimiento }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>
 
                  
                  {{ formulario.estado.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.estado.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.estado }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>


                    
      <div class="modal-footer">
        <button type="submit" class="btn btn-success pull-left">Guardar cambios
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>


</form>

{% else %}
    <p>Error al cargar contenido.</p>
{% endif %}     
{% block js %}

<script type="text/javascript">
    $('.dropify').dropify();

 function guardar_cambios(id_nino){
    
 
    $.ajax({
          data : $('#form_nino_2').serialize()+"&id_nino="+id_nino,
          url: '{% url "guardar_cambio_nino" %}',
          type : 'post',
          success : function(data){
            console.log(data);
            
            if(data!=0){
              $('#nino'+id_nino+' .cod_apadr').html(data.programa);
              $('#nino_'+id_nino+' .cedula').html(data.nombre);
              $('#nino_'+id_nino+' .fecha_nacimiento').html(data.color);
              $('#nino_'+id_nino+' .estado').html(data.nivel);
              $('.modal').modal('hide');
              location.reload();
            }
          }
        });
        
      return false;
    }
  


  
   
    
</script>
{% endblock %}