{% load staticfiles %}
 {% if formulario %}


<form id="form_club_2" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return guardar_cambios('{{id_club}}');">{% csrf_token %}
               
                   {{ formulario.programa.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.programa.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.programa }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>
 
                  
                  {{ formulario.nombre.errors }}
                    <div class="">
                      <label for="{{ formulario.name }}">{{ formulario.nombre.label }}</label> 
                      <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ formulario.nombre }}
                        <i class="fa fa-times input-icon none"></i>
                      </div>
                    </div>

                    
      <div class="modal-footer">
        <button type="submit" class="btn btn-success pull-left">Guardar cambios
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>


</form>

{% else %}
    <p>Error al cargar contenido.</p>
{% endif %}     
{% block js %}

<script type="text/javascript">
    $('.dropify').dropify();

 function guardar_cambios(id_club){
    
 
    $.ajax({
          data : $('#form_club_2').serialize()+"&id_club="+id_club,
          url: '{% url "guardar_cambio_club" %}',
          type : 'post',
          success : function(data){
            console.log(data);
            
            if(data!=0){
              $('#club'+id_club+' .programa').html(data.programa);
              $('#club_'+id_club+' .nombre').html(data.nombre);
              $('#club_'+id_club+' .color').html(data.color);
              $('#club_'+id_club+' .nivel').html(data.nivel);
              $('.modal').modal('hide');
              location.reload();
            }
          }
        });
        
      return false;
    }
  


  
   
    
</script>
{% endblock %}