{% extends "starter.html" %}
{% load static %}
{% block css %}

  <!-- modales para la página de clubes -->
  <link href="{% static 'dist/main/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/main/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="{% static 'dist/main/plugins/dropify-master/dist/css/dropify.min.css' %}">
   <link href="{% static 'dist/main/plugins/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'dist/main/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'dist/main/plugins/bootstrap-daterangepicker/css/bootstrap-daterangepicker.min.css' %}" />
  <link href="{% static 'dist/main/plugins/icheck/css/skins/all.css' %}" rel="stylesheet" type="text/css">
 
  <!-- <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" type="text/css"> -->
   <!-- modales para la página de clubes -->
     <style type="text/css">
     .add-button{
        border-style: solid;
        color: #fff;
        border-color: #4dacdb;
        background-color: #5ebdec;
        font-size: 13px;
        
     }
     .pendientes,.fc-event{
        cursor: pointer;
     }
     .fa-3{
        font-size: 4em;
     }
   </style>

{% endblock %}
  
    
      <!-- CONTENT STARTS -->
      {% block contenido %}
        <!-- CONTENT STARTS -->
      <div class="content">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="{% url 'clubes' %}"><i class="fa fa-home"></i>Clubes</a></li>
            <li class="active">{{ club.nombre }}</li>
          </ol>
        </div><!-- /.breadcrumb-wrapper -->

        <div class="page-title-wrapper">
          <h2 class="page-title" id="name_club" name="name_club">{{ club.nombre }} - {{ club.programa}}</h2>
        </div><!-- /.page-titile-wrapper -->

          <div class="panel-body">
            <div class="row">
              <div class="col-sm-8 tab-pane fade in active">
                <ul class="nav nav-tabs solid-tabs nav-stacked rounded">
                  <li class="active">
                    <a href="#tabElementosClaves" data-toggle="tab">
                              <i class="fa fa-user m-right-10"></i> Integrantes

                            </a>

                  </li>
                </ul>
                   <div class="panel-body">

                        <div class="list-group m-bottom-30">
                          <div class="form-group list-ec" id="listNinos">
                            {% if ninos %}
                            {% for ni in ninos %}
                            <label>
                              
                              <input type="checkbox" class="icheck-minimal-grey" name="lista_ninos[]" value="{{ni.pk}}" >
                              <a href="#" class="list-group-item" style="width:80%">{{ni.nino}}</a>
                             
                            </label> 
                            {% endfor %}
                            {% else %}
                            <label>
                              No hay ninos para este club
                            </label>
                            {% endif %} 
                          </div>
                        </div>
                      </div>
              </div>
              <!-- /.col-sm-3 -->
              <div class="tab-content">
                <div class="col-sm-4 m-w-210-px" id="tabElementosNinos">
                    <ul class="nav nav-tabs solid-tabs nav-stacked rounded">
                    <li class="active">
                    <a href="#tabNinos" data-toggle="tab">
                              <i class="fa fa-group m-right-10"></i> Escoge el destino
                            </a>


                    </li>
                    </ul>
                     
                            <select id="club_destino">
                              {% for club in clubes %}
                              <option value="{{club.nombre}}" >{{club.nombre}}</option>
                              {% endfor %}
                            </select>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            
                            

                          
                      <div>
                      <button type="button" onclick="transferencia('{{club.nombre}}');"class="btn btn-success pull-left">Guardar cambios
                      </button>
  
                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- /.col-sm-8 -->
                </div>
                <!-- /.row -->
                <!-- FINAL TAB INTEGRANTES -->

              
              </div>
            </div>
            <!-- /.panel-body -->
       
       </div>
          

      {% endblock %}
      <!-- CONTENT ENDS -->
    
    <!-- CONTENT WRAPPER ENDS -->


    <div  class="chat">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Chat
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Clubes abiertos
              </li><!-- /.dropdown-header -->

              <li class="chat-mediano">
                <ul class="list-dropdown-content list-dropdown-messages">
                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-1">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 1</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-2">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 2</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club ">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-3">
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 3</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-4">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 4</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- /.dropdown -->
     </ul>
    </div>
{% block js %}
 <!--Scrips de la página  -->
    <script src="{% static 'dist/main/plugins/jquery.validate/js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main/plugins/dropify-master/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main/plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/icheck/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
  
 function transferencia(club){
        var id_ninos = [];
        club_destino=$("#club_destino").val();

        $('#listNinos label input:checked').each(function() {
            id_ninos.push(this.value);
        });
  
    $.ajax({
      url: '{% url "transferencia_nino" %}',
      data: {
        'lista_ninos': id_ninos,
        'club_origen': club,
        'club_destino': club_destino,
        'csrfmiddlewaretoken': '{{csrf_token}}'
      },
      type: 'post',
      success : function(data){
          if(data==1)
             location.reload();
           else
            alert("ya ha eliminado todos los elementos")
      }
    })

    return false;
  }

</script>
{% endblock %}