{% extends "starter.html" %}
{% load static %}
{% block css %}

  <!-- modales para la página de clasas -->
  <link href="{% static 'dist/main/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/main/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'dist/main/plugins/dropify-master/dist/css/dropify.min.css' %}">
  <link href="{% static 'dist/main/plugins/icheck/css/skins/all.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
  

      {% block contenido %}
        <!-- CONTENT STARTS -->
      <div class="content">
         <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{% url 'programa' programa=programa.slug %}">{{programa.nombre}}</a></li>
            <li><a href="{% url 'elemento_clave' programa=programa.slug elemento_clave=elemento.slug %}">{{elemento.nombre | capfirst }}</a></li>
            <li class="active">{{casa.nombre | capfirst }}</li>
          </ol>
        </div><!-- /.breadcrumb-wrapper -->

        <div class="page-title-wrapper">
          <h2 class="page-title">{{elemento.nombre | capfirst }}-{{casa.nombre | capfirst }}</h2>
        </div><!-- /.page-titile-wrapper -->


         <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 m-w-210-px">
                <ul class="nav nav-tabs solid-tabs nav-stacked rounded">
                   <li class="active">
                    <a href="#tabActividades" data-toggle="tab">
                              <i class="fa fa-home m-right-10"></i>Actividades
                            </a>
                  </li>
                  <li>
                    <a href="#tabRecursos" data-toggle="tab">
                              <i class="fa fa-user m-right-10"></i> Recursos
                            </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-sm-3 -->
              <div class="tab-content">
                <!-- TAB ACTIVIDADES-->
                <div class="col-sm-8 tab-pane fade in active" id="tabActividades">
                  <div class="tab-content">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <button class="btn btn-default-outline btn-labeled-left btn-xs rounded">
                                <i class="fa fa-trash"></i>
                                <a data-toggle="modal" data-target="#modalEliminarActividad">Eliminar</a>
                              </button>

                        <button class="btn btn-default-outline btn-labeled-left btn-xs rounded" style="margin-left:12px">
                                <i class="fa fa-plus"></i>
                                <a data-toggle="modal" data-target="#modalAgregarActividad">Agregar Actividad</a>
                              </button>
                        <!--<div class="panel-title">List Group</div>-->
                      </div>
                      <!-- /.panel-heading -->
                      <!--<div class="tab-pane active fade in" id="tab-stacked-home3Rounded">-->
                      <div class="panel-body">
                         <div class="list-group m-bottom-30">
                          <div class="form-group list-ec" id="listActividades">
                            {% if actividades %}
                            {% for act in actividades %}
                            <label>
                              <input type="checkbox" class="icheck-minimal-grey" name="lista_actividades[]" value="{{act.pk}}" >
                               <a href="{% url 'recurso_actividad' programa=programa.slug elemento_clave=elemento.slug casa=casa.slug actividad=act.slug%}" class="list-group-item" style="width:80%">{{act.nombre}}</a>
                               <button type="button" class="btn btn-info-outline" style="margin-left:2%">
                                 <a href="javascript:void(0)" onclick="editar('{{act.id}}')" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                              </button>
                            </label>
                            {% endfor %}
                            {% else %}
                            <label> No hay actividadades en esta casa</label>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <!-- Modal Eliminar -->
                      <div class="modal fade" id="modalEliminarActividad" tabindex="-1">
                        <div class="modal-dialog modal-md">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">
                                      <span>&times;</span>
                                    </button>
                              <h4 class="modal-title">Eliminar Actividad</h4>
                            </div>
                            <!-- .modal-header -->

                            <div class="modal-body">
                              <h4>¿Est&aacute; seguro que desea eliminar los actividades seleccionados?</h4>
                              <p>Una vez realizada esta acci&oacute;n no podr&aacute; recuperar los datos eliminados
                              </p>
                            </div>
                            <!-- .modal-body -->

                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <button type="button" onclick="eliminarActividad();"  class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            
                            </div>
                            <!-- .modal-footer -->
                          </div>
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->

                      <!-- Modal Agregar -->
                      <div class="modal fade" id="modalAgregarActividad" tabindex="-1">
                        <div class="modal-dialog modal-md">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">
                                      <span>&times;</span>
                                    </button>
                              <h4 class="modal-title">Agregar Actividad</h4>
                            </div>
                            <!-- .modal-header -->
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return guardarActividad();">{% csrf_token %}                      
                        <ul class="list-steps">
                 
                       </ul>
                      
                      <div class="row">
                        <div class="tab-content col-sm-6 col-sm-offset-2">
                          <div class="tab-pane active" id="arrow-one">
                             <div class="input-group input-icon-right">
                                  <div class="radio">
                                       <label>
                                           <input type="hidden" name="casa" id="casa" value="{{ casa.nombre }}">
                                       </label>
                                  </div>          
                             </div>
                            <div class="form-group">
                              <label for="inputName1" class="control-label col-sm-4">Nombre</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" id="nombre" name="inputName1">
                              </div>
                            </div><!-- /.form-group -->
                             <div class="form-group">
                              <label for="inputName1" class="control-label col-sm-4">nivel</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" id="nivel" name="nivel">
                              </div>
                            </div><!-- /.form-group -->
                             <div class="form-group">
                              <label for="inputName1" class="control-label col-sm-4">Orden</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" id="orden" name="orden">
                              </div>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                              <label for="tipoActividad" class="control-label col-sm-4">Tipo</label>
                              <div class="col-sm-8">
                                <select class="form-control" id="tipoActividad" name="tipoActividad" style="width: 100%;">
                                  <option>Animación</option>
                                  <option>Trivia</option>
                                  <option>Interactiva</option>
                                  <option>Audio</option>
                                </select>
                              </div>
                            </div><!-- /.form-group -->
                             <div class="form-group">
                              <label for="premio" class="control-label col-sm-4">Premio (en monedas)</label>
                              <div class="col-sm-8">
                                <select class="form-control" id="premio" name="premio" style="width: 100%;">
                                  <option>0</option>
                                  <option>10</option>
                                  <option>20</option>
                                  <option>30</option>
                                </select>
                              </div>
                            </div><!-- /.form-group -->
                             <div class="form-group">
                              <label for="tiempo" class="control-label col-sm-4">Tiempo (en minutos)</label>
                              <div class="col-sm-8">
                                <select class="form-control" id="tiempo" name="tiempo" style="width: 100%;">
                                  <option>5</option>
                                  <option>10</option>
                                  <option>20</option>
                                  <option>30</option>
                                  <option>40</option>
                                  <option>50</option>
                                  <option>60</option>
                                </select>
                              </div>
                            </div><!-- /.form-group -->
                          </div><!-- /.tab-pane -->

                          <div class="tab-pane" id="arrow-two">
                            <div class="form-group">
                              <label for="fileUpload" class="control-label col-sm-4">Subir Imagen</label>
                              
                                <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                                  <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                  </div>
                                  <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">
                                      <i class="fa fa-file"></i>
                                    </span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    <input type="hidden" value="" name=""><input type="file" name="">
                                  </span>
                                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                                </div><!-- /.fileinput -->
                              
                            </div><!-- /.form-group -->
                            <div class="form-group">
                              <label class="control-label col-sm-4">N&uacute;mero de piezas</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="numPiezas" style="width: 100%;">
                                  <option>6</option>
                                  <option>8</option>
                                  <option>10</option>
                                  <option>14</option>
                                  <option>20</option>
                                  <option>28</option>
                                  <option>32</option>
                                  <option>50</option>
                                  <option>100</option>
                                </select>
                              </div>
                            </div><!-- /.form-group -->
                          </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                      </div><!-- /.row -->
                      
                         <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                      <button type="submit" class="btn btn-primary">Aceptar</button>
                                    </div>
                                  </form>
                            <!-- .modal-footer -->
                          </div>
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->
                      <!--</div>-->
                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- /.col-sm-8 -->
                </div>
                <!-- /.row -->
                      
 					    <!-- TAB RECURSOS -->
		                <div class="col-sm-8 tab-pane fade" id="tabRecursos">
		                  <div class="tab-content">
		                    <div class="panel panel-default">
		                        <div class="panel-heading">
		                        <button class="btn btn-default-outline btn-labeled-left btn-xs rounded">
		                                <i class="fa fa-trash"></i>
		                                <a data-toggle="modal" data-target="#modalEliminarRecurso">Eliminar</a>
		                              </button>

		                        <button class="btn btn-default-outline btn-labeled-left btn-xs rounded" style="margin-left:12px">
		                                <i class="fa fa-plus"></i>
		                                <a data-toggle="modal" data-target="#modalAgregarRecurso">Agregar Recurso</a>
		                              </button>
		                        <!--<div class="panel-title">List Group</div>-->
		                      </div>
		                      <!-- /.panel-heading -->
		                      <!--<div class="tab-pane active fade in" id="tab-stacked-home3Rounded">-->
		                      <div class="panel-body">
		                        <div class="list-group m-bottom-30">
		                              <div class="form-group list-ec" id="listRecursos">
			                            {% if recursos_claves %}
			                            {% for r in recursos_claves %}
			                            <label>
			                              
			                              <input type="checkbox" class="icheck-minimal-grey" name="lista_recursos[]" value="{{r.pk}}" >
			                              <a href="#" class="list-group-item" style="width:80%">{{r.nombre}}</a>
			                              <button type="button" class="btn btn-info-outline" style="margin-left:2%">
			                                 <a href="javascript:void(0)" onclick="editar('{{r.id}}')" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
			                              </button>
			                             
			                            </label> 
			                            {% endfor %}
			                            {% else %}
			                            <label>
			                              No hay recursos asociados a esta casa
			                            </label>
			                            {% endif %} 
			                          </div>
		                        </div>
		                      </div>

		                      <!-- Modal Eliminar Recurso-->
		                      <div class="modal fade" id="modalEliminarRecurso" tabindex="-1">
		                        <div class="modal-dialog modal-md">
		                          <div class="modal-content">
		                            <div class="modal-header">
		                              <button type="button" class="close" data-dismiss="modal">
		                                      <span>&times;</span>
		                                    </button>
		                              <h4 class="modal-title">Eliminar Recurso</h4>
		                            </div>
		                            <!-- .modal-header -->

		                            <div class="modal-body">
		                              <h4>¿Est&aacute; seguro que desea eliminar los recursos seleccionados?</h4>
		                              <p>Una vez realizada esta acci&oacute;n no podr&aacute; recuperar los datos eliminados
		                              </p>
		                            </div>
		                            <!-- .modal-body -->

		                            <div class="modal-footer">
		                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		                               <button type="button" onclick="eliminarRecursoCasa();"  class="btn btn-primary" data-dismiss="modal">Aceptar</button>
		                            </div>
		                            <!-- .modal-footer -->
		                          </div>
		                        </div>
		                        <!-- /.modal-dialog -->
		                      </div>
		                      <!-- /.modal -->

		                      <!-- Modal Agregar -->
		                      <div class="modal fade" id="modalAgregarRecurso" tabindex="-1">
		                        <div class="modal-dialog modal-md">
		                          <div class="modal-content">
		                            <div class="modal-header">
		                              <button type="button" class="close" data-dismiss="modal">
		                                      <span>&times;</span>
		                                    </button>
		                              <h4 class="modal-title">Agregar Recurso</h4>
		                            </div>
		                            <!-- .modal-header -->

		                            <div class="modal-body">
		                                <form method="POST" enctype="multipart/form-data" action='{% url "casa" programa=programa.slug elemento_clave=elemento.slug casa=casa.slug %}'> 
			                            {% csrf_token %}
			                            {{ form.as_p }}
			                            <div class="modal-footer">
		                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
		                                  <button type="submit" class="btn btn-primary">Aceptar</button>
		                                </div>
			                            </form>
		                            </div>
		                            <!-- .modal-body -->

		                            <!-- .modal-footer -->
		                          </div>
		                        </div>
		                        <!-- /.modal-dialog -->
		                      </div>
		                      <!-- /.modal -->


		                      <!--</div>-->
		                    </div>
		                    <!-- /.tab-content -->
		                  </div>
		                  <!-- /.col-sm-8 -->
		                </div>
		                <!-- /.row -->
		                <!-- FINAL TAB RECURSOS -->


                      <!--</div>-->
                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- /.col-sm-8 -->
                </div>
                <!-- /.row -->
            </div>
         </div>
         <!-- CONTENT ENDS -->



      <!-- /.modal-footer -->
    </div>       

      {% endblock %}



    <div  class="chat">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Chat
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Clubes abiertos
              </li><!-- /.dropdown-header -->

              <li class="chat-mediano">
                <ul class="list-dropdown-content list-dropdown-messages">
                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-1">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 1</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-2">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 2</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club ">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-3">
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 3</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-4">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 4</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- /.dropdown -->
     </ul>
    </div>
{% block js %}
    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'dist/main/js/jquery.min.js' %}"></script>
    <script src="{% static 'dist/main/js/bootstrap.min.js' %}"></script>
    <!-- REQUIRED PLUGINS -->
    <script src="{% static 'dist/main/plugins/jquery.slimscroll/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/jquery.succinct/js/jquery.succinct.min.js' %}"></script>
    <!-- main.min.js - WISEBOARD CORE SCRIPT -->
    <script src="{% static 'dist/main/js/main.min.js' %}"></script>
    <!-- admin.min.js - GENERAL CONFIGURATION SCRIPT FOR THE PAGES -->
    <script src="{% static 'js/admin.js' %}"></script>


    <!-- script para la página de actividades -->
    <script src="{% static 'dist/main/plugins/bootstrap-sweetalert/js/sweetalert.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-wizard/js/jquery.bootstrap.wizard.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/jquery.validate/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/icheck/js/icheck.min.js' %}"></script>
    


  

    <script type="text/javascript">
      $('.hola').click(function(){
        swal("Here's a message!");
      });
    function guardarActividad(){
    casa=$("#casa").val();
    nombre=$("#nombre").val();
    nivel=$("#nivel").val();
    orden=$("#orden").val();
    tipo=$("#tipo").val();
    premio=$("#premio").val();
    tiempo=$("#tiempo").val();
    $.ajax({
      url: '{% url "guardar_actividad" %}',

      data: {
                        'casa': casa,      
                        'nombre': nombre,
                        'nivel': nivel,
                        'orden': orden,
                        'tipo': tipo,
                        'premio': premio,
                        'tiempo_esparado': tiempo,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
      },
      type: 'post',
      success : function(data){
          if(data==1)
             location.reload();
           else
            alert("error")
      }
    })
    return false;
  }
   function eliminarActividad(){
        var actividades = [];
        $('#listActividades label input:checked').each(function() {
            actividades.push(this.value);
        });
    $.ajax({
      url: '{% url "eliminar_actividad" %}',
      data: {
        'lista_actividades': actividades,
        'csrfmiddlewaretoken': '{{csrf_token}}'
      },
      type: 'post',
      success : function(data){
          if(data==1)
             location.reload();
           else
            alert("error")
      }
    })

    return false;
  }
     function eliminarRecursoCasa(){
        var recursos= [];
        $('#listRecursos label input:checked').each(function() {
            recursos.push(this.value);
        });
    $.ajax({
      url: '{% url "eliminar_recurso_casa" %}',
      data: {
        'lista_recursos_casa': recursos,
        'csrfmiddlewaretoken': '{{csrf_token}}'
      },
      type: 'post',
      success : function(data){
          if(data==1)
             location.reload();
           else
            alert("error")
      }
    })

    return false;
  }

    </script>

{% endblock %}