{% extends "starter.html" %}
{% load static %}
{% block css %}
  <!-- modales para la página de programas -->
  <link href="{% static 'dist/main/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/main/plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/main/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" type="text/css">
  <style type="text/css">
    .modal.fade.in {
    top: 10%;
    bottom: auto;
    }
    .modal-header{
      width: 500px;

    }
     .modal-body-1{
      margin: 5%;

    }
  </style>
{% endblock %}
  

      {% block contenido %}
    <!-- CONTENT STARTS -->
    <div class="content">
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
          <li class="active">Programas</li>
        </ol>
      </div>
      <!-- /.breadcrumb-wrapper -->
      {% if request.user.role != 3 %}
      <div class="page-title-wrapper">
        <h2 class="page-title">Programas</h2>
        <div><a class="btn btn-primary" data-toggle="modal" data-target="#responsive"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>
 Agregar nuevo programa</a></div>
      </div>
      {% endif%}
      <!-- /.page-titile-wrapper -->
      <div class="row">
        {% for programa in programas %}
        <div class="col-sm-6 col-lg-4">
          <div class="panel panel-card panel-blue rounded programasCard">
            <div class="panel-body">
              <div class="card-left">
                <img src="{{programa.imagen}}" height="42" width="42">
              </div>

              <div class="card-right">
                <h2>{{programa.nombre}}</h2>
              </div>
            </div>
            <!-- /.panel-body -->
            {% if request.user.role != 3 %}
            <div class="panel-footer">
              <a href="{% url 'programa' programa=programa.slug %}">Ingresar <i class="fa fa-angle-right"></i></a>
            </div>
            {% endif %}
            <!-- /.panel-footer -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-sm-6 -->
        {% endfor %}
      </div>
    </div>
    <!-- CONTENT ENDS -->
  </div>
  <!-- CONTENT WRAPPER ENDS -->
  <!--modal de creacion de programas-->
  <div class="modal fade" tabindex="-1" data-width="760" id="responsive" style="display: none;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4 class="modal-title">Nuevo programa</h4>
    </div>
    <!-- /.modal-header -->
    <form class="form-horizontal" method="POST" action='{% url "programs" %}'>
      {% csrf_token %}
      <div class="modal-body">
        <div class="row">

          <div class="form-group m-bottom-30">
            <label for="nombre" class="control-label col-sm-3">Nombre de programa</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Nombre del programa" id="nombre" name='nombre'>
            </div>
          </div>
          <div class="form-group m-bottom-30">
            <label for="" class="control-label col-sm-3" for='icono'>Icono del programa</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="icono" name='icono'>
            </div>
          </div>
          <div class="form-group m-bottom-30">
            <label for="" class="control-label col-sm-3" for='edad_ini'>Edad inicial</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Edad inicial en años" id="edad_ini" name='edad_ini'>
            </div>
          </div>
          <div class="form-group m-bottom-30">
            <label for="" class="control-label col-sm-3" for='edad_fin'>Edad final</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Edad final en años"  id="edad_fin" name='edad_fin'>
            </div>
          </div>
          <div class="form-group m-bottom-30">
            <label for="" class="control-label col-sm-3" for='tipo'>Objetivo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Ingresar el objetivo estratégico"  id="Objetivo" name='objetivo'>
            </div>
          </div>
          <div class="form-group m-bottom-30">
            <label for="" class="control-label col-sm-3" for='tipo'>Tipo</label>
            <div class="col-sm-9">
                          <div class="radio">
                            <label>
                              <input type="radio" name="tipo" class="icheck-minimal-grey" checked="true" value="1">
                              Informativo
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="tipo" class="icheck-minimal-grey" value="2">
                              Interactivo
                            </label>
                          </div>  
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar programa</button>
      </div>
    </form>
    <!-- /.modal-footer -->
  </div>
 <!-- CONTENT END-->
  {% endblock %}



  <div class="chat">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Chat
            </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            Clubes abiertos
          </li>
          <!-- /.dropdown-header -->

          <li class="chat-mediano">
            <ul class="list-dropdown-content list-dropdown-messages">
              <li class="club">
                <a href="#" data-click="prevent">
                  <div class="media">
                    <div class="media-left club-1">
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">

                        <strong class="text-primary">Club # 1</strong>
                      </h6>

                    </div>
                  </div>
                  <!-- /.media -->
                </a>
              </li>

              <li class="club">
                <a href="#" data-click="prevent">
                  <div class="media">
                    <div class="media-left club-2">
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">

                        <strong class="text-primary">Club # 2</strong>
                      </h6>

                    </div>
                  </div>
                  <!-- /.media -->
                </a>
              </li>

              <li class="club ">
                <a href="#" data-click="prevent">
                  <div class="media">
                    <div class="media-left club-3">
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <strong class="text-primary">Club # 3</strong>
                      </h6>

                    </div>
                  </div>
                  <!-- /.media -->
                </a>
              </li>

              <li class="club">
                <a href="#" data-click="prevent">
                  <div class="media">
                    <div class="media-left club-4">
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">
                        <strong class="text-primary">Club # 4</strong>
                      </h6>

                    </div>
                  </div>
                  <!-- /.media -->
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- /.dropdown -->
    </ul>
  </div>

  <!-- FOOTER STARTS -->
  <div class="footer">&copy; Copyright 2017 <span class="divider">|</span> <span class="hidden-xs">Children International</span> <span class="divider hidden-xs">|</span>    All rights reserved.</div>
  <!-- FOOTER ENDS -->

  <!-- REQUIRED SCRIPTS -->
  <script src="{% static 'dist/main/js/jquery.min.js' %}"></script>
  <script src="{% static 'dist/main/js/bootstrap.min.js' %}"></script>
  <!-- REQUIRED PLUGINS -->
  <script src="{% static 'dist/main/plugins/jquery.slimscroll/js/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'dist/main/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
  <script src="{% static 'dist/main/plugins/jquery.succinct/js/jquery.succinct.min.js' %}"></script>
  <script src="{% static 'dist/main/plugins/jasny-bootstrap/js/fileinput.js' %}"></script>

  <!-- main.min.js - WISEBOARD CORE SCRIPT -->
  <script src="{% static 'dist/main/js/main.min.js' %}"></script>
  <!-- admin.min.js - GENERAL CONFIGURATION SCRIPT FOR THE PAGES -->
  <script src="{% static 'js/admin.js' %}"></script>

  <!-- js para la página de programas -->
  <script src="{% static 'dist/main/plugins/bootstrap-modal/js/bootstrap-modal.js' %}"></script>
  <script src="{% static 'dist/main/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}"></script>
 
</body>

</html>