{% extends "starter.html" %}
{% load static %}
{% block contenido %}

        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Dashboard</a></li>
          </ol>
        </div><!-- /.breadcrumb-wrapper -->

        <div class="page-title-wrapper">
          <h2 class="page-title">Dashboard</h2>
        </div><!-- /.page-titile-wrapper -->


        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-card panel-blue rounded">
              <div class="panel-body">
                <div class="card-left">
                  <h1>{{clubes}}</h1>
                  <span>Clubes</span>
                </div>

                <div class="card-right">
                  <span>activos en la actualidad</span>
                </div>
              </div><!-- /.panel-body -->

              <div class="panel-footer">
                <a href="#">Ver más <i class="fa fa-angle-right"></i></a>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
          </div><!-- /.col-sm-6 -->

          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-card panel-teal rounded">
              <div class="panel-body">
                <div class="card-left">
                  <h1>{{ninos}}</h1>
                  <span>Niños</span>
                </div>

                <div class="card-right">
                  <p>Ingresados en la plataforma</p>
                </div>
              </div><!-- /.panel-body -->

              <div class="panel-footer">
                <a href="#">Ver más <i class="fa fa-angle-right"></i></a>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
          </div><!-- /.col-sm-6 -->
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-default panel-country-sales rounded">
              <div class="panel-heading large-heading">
                <div class="panel-action">
                  <button class="btn btn-min"></button>
                  <button class="btn btn-expand"></button>
                </div><!-- /.panel-action -->
                <div class="panel-title">
                  <div class="panel-tools">
                    <span class="title">Actividades Aflatoun</span>
                    <div class="tools-content">
                      <ul class="nav nav-tabs rounded">
                        <li class="active">
                          <a href="#sales-list-view" data-toggle="tab">Lista</a>
                        </li>
                        <li>
                          <a href="#sales-chart-view" data-toggle="tab">Gráfico</a>
                        </li>
                      </ul>
                    </div>
                  </div><!-- /.panel-tools -->
                </div><!-- /.panel-title -->
              </div><!-- /.panel-heading -->

              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="sales-list-view">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table">
                              <thead>
                                <tr>
                                  <th>Club</th>
                                  <th>Integrantes</th>
                                  <th>Actividades</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for club, n_integrantes, n_actividades in lista_clubes %}
                                <tr>
                                  <td>
                                    <span class="flag flag-ecu"></span> {{club}}
                                  </td>
                                  <td>{{n_integrantes}}</td>
                                  <td>
                                    <i class="fa fa-caret-up text-success"></i>
                                    <span class="text-success">{{n_actividades}}</span>
                                  </td>
                                </tr>
                              {% endfor %}
                                <!-- <tr>
                                  <td>
                                    <span class="flag flag-ecu"></span> Club 2
                                  </td>
                                  <td>8</td>
                                  <td>
                                    <i class="fa fa-caret-up text-success"></i>
                                    <span class="text-success">35</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span class="flag flag-ecu"></span> Club 3
                                  </td>
                                  <td>15</td>
                                  <td>
                                    <i class="fa fa-caret-down text-success"></i>
                                    <span class="none">-</span>
                                    <span class="text-success">60</span>
                                  </td>
                                </tr> -->
                              </tbody>
                            </table>
                      </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                  </div><!-- /.tab-pane -->


                  <div class="tab-pane fade" id="sales-chart-view">
                    <h4>Actividades mensuales</h4>
                    <div class="chart-body" id="chart-country-sales"></div>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->

            </div><!--/.panel-->
            </div>
          </div><!-- /.col-lg-6 -->


          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default panel-visitors-activity rounded">
              <div class="panel-heading large-heading">
                <div class="panel-action">
                  <button class="btn btn-min"></button>
                  <button class="btn btn-expand"></button>
                </div><!-- /.panel-action -->
                <div class="panel-title">
                  <div class="panel-tools">
                    <span class="title">Top de niños en la app</span>
                    <div class="tools-content">
                      <!-- NOTE: THERE GOES SEARCH INPUT WHICH WE ARE APPENDING HERE VIA JQUERY -->
                    </div>
                  </div><!-- /.panel-tools -->
                </div><!-- /.panel-title -->
              </div><!-- /.panel-heading -->

              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cod</th>
                      <th>Nombre</th>
                      <th>País</th>
                      <th>Ingresos</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <div class="media">
                          <div class="media-left">
                            <span class="label label-primary"><i class="fa fa-user"></i></span>
                          </div>
                          <div class="media-body">#A907689</div>
                        </div><!-- /.media -->
                      </td>
                      <td>Juan Perez</td>
                      <td>
                        <span class="flag flag-ecu"></span>
                        <span class="none">arg</span><!-- NOTE: THIS ELEMENT IS FOR ONLY TABLE SORTING SO IT IS HIDDEN VISUALLY -->
                      </td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="media">
                          <div class="media-left">
                            <span class="label label-primary"><i class="fa fa-user"></i></span>
                          </div>
                          <div class="media-body">#A95329</div>
                        </div><!-- /.media -->
                      </td>
                      <td>Marlon Brandon</td>
                      <td>
                        <span class="flag flag-ecu"></span>
                        <span class="none">arg</span><!-- NOTE: THIS ELEMENT IS FOR ONLY TABLE SORTING SO IT IS HIDDEN VISUALLY -->
                      </td>
                      <td>150</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.panel-body -->
            </div><!--/.panel-->


          </div>

        </div>
  {% endblock %}
