{% extends "starter.html" %}
{% load static %}
{% block css %}

  <!-- modales para la página de clubes -->
  <link href="{% static 'dist/main/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/main/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="{% static 'dist/main/plugins/dropify-master/dist/css/dropify.min.css' %}">
   <link href="{% static 'dist/main/plugins/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'dist/main/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'dist/main/plugins/bootstrap-daterangepicker/css/bootstrap-daterangepicker.min.css' %}" />
  <link href="{% static 'dist/main/plugins/icheck/css/skins/all.css' %}" rel="stylesheet" type="text/css">
 
  <!-- <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" type="text/css"> -->
   <!-- modales para la página de clubes -->
     <style type="text/css">
     .add-button{
        border-style: solid;
        color: #fff;
        border-color: #4dacdb;
        background-color: #5ebdec;
        font-size: 13px;
        
     }
     .pendientes,.fc-event{
        cursor: pointer;
     }
     .fa-3{
        font-size: 4em;
     }
   </style>

{% endblock %}
  
    
      <!-- CONTENT STARTS -->
      {% block contenido %}
        <!-- CONTENT STARTS -->
      <div class="content">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="{% url 'clubes' %}"><i class="fa fa-home"></i>Clubes</a></li>
            <li class="active">{{ club.nombre }}</li>
          </ol>
        </div><!-- /.breadcrumb-wrapper -->

        <div class="page-title-wrapper">
          <h2 class="page-title" id="name_club" name="name_club">{{ club.nombre }} - {{ club.programa}}</h2>
        </div><!-- /.page-titile-wrapper -->


        <div class="panel-body">

                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div class="profile-heading">
                      <p class="lead m-bottom-5">Ahorros Totales</p>{{ club.ahorros}}
                    </div><!-- /.profile-heading -->
                  </div><!-- /.col-sm-4 -->

                  <div class="col-sm-4 col-md-4">
                    <div class="profile-heading">
                      <p class="lead m-bottom-5">Nivel del Club</p>{{ club.nivel}}
                    </div><!-- /.profile-heading -->
                  </div><!-- /.col-sm-4 -->

                  <div class="col-sm-4 col-md-4">
                    <div class="profile-heading">
                      <p class="lead m-bottom-5">Color</p>
                       <p class="lead m-bottom-5" style="height: 20px;background:{{ club.color}} ">{{ club.color}}</p>
                    </div><!-- /.profile-heading -->
                  </div><!-- /.col-sm-4 -->
                </div><!-- /.profile-heading -->
                <br>

                <div class="row">
                    <ul class="nav nav-justified nav-tabs solid-tabs">
                      <li class="active">
                         <a href="#tab-solid-resumen" data-toggle="tab">
                          <i class="fa fa-line-chart" aria-hidden="true"></i>
                          <span class="block">Resumen</span>
                        </a>
                      </li>
                      <li>
                        <a href="#tab-solid-listado" data-toggle="tab">
                          <i class="fa fa-list-alt" aria-hidden="true"></i>
                          <span class="block">Integrantes</span>
                        </a>
                      </li>
                      <li>
                        <a href="#tab-solid-citas" data-toggle="tab" id="tab-citas">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                          <span class="block">Citas</span>
                        </a>
                      </li>
                      <li>
                        <a href="#tab-solid-horarios" data-toggle="tab">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <span class="block">Horarios</span>
                        </a>
                      </li>
                    </ul>
                    
                    <div class="tab-content">
                      <div class="tab-pane active fade in" id="tab-solid-resumen">
                        <!-- Cuadros informativos -->
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                              <div class="panel panel-card panel-blue rounded">
                                <div class="panel-body">
                                  <div class="card-left">
                                    <h1>10</h1>
                                    <span>Monedas</span>
                                  </div>

                                  <div class="card-right">
                                    <span>Ahorro del club</span>
                                  </div>
                                </div><!-- /.panel-body -->

                                <div class="panel-footer">
                                  <a href="#">Ver más <i class="fa fa-angle-right"></i></a>
                                </div><!-- /.panel-footer -->
                              </div><!-- /.panel -->
                            </div><!-- /.col-sm-6 -->

                            <div class="col-sm-6 col-lg-3">
                              <div class="panel panel-card panel-teal rounded">
                                <div class="panel-body">
                                  <div class="card-left">
                                    <h1>50</h1>
                                    <span>Niños</span>
                                  </div>

                                  <div class="card-right">
                                      <p>Ingresados en el club</p>
                                  </div>
                                </div><!-- /.panel-body -->

                                <div class="panel-footer">
                                  <a href="#">Ver más <i class="fa fa-angle-right"></i></a>
                                </div><!-- /.panel-footer -->
                              </div><!-- /.panel -->
                            </div><!-- /.col-sm-6 -->
                          </div>

                          <div class="col-sm-12 col-lg-12">
                              <div class="panel panel-default panel-visitors-activity rounded">
                                <div class="panel-heading large-heading">
                                  <div class="panel-action">
                                    <button class="btn btn-min"></button>
                                  </div><!-- /.panel-action -->
                                  <div class="panel-title">
                                    <div class="panel-tools">
                                      <span class="title">Top de niños en el club</span>
                                      <div class="tools-content">
                                        <!-- NOTE: THERE GOES SEARCH INPUT WHICH WE ARE APPENDING HERE VIA JQUERY -->
                                      </div>
                                    </div><!-- /.panel-tools -->
                                  </div><!-- /.panel-title -->
                                </div><!-- /.panel-heading -->

                                <div class="panel-body">

                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Cod</th>
                                        <th>nick</th>
                                        <th>País</th>
                                        <th>Ingresos</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="media">
                                            <div class="media-left">
                                              <span class="label label-primary"><i class="fa fa-user"></i></span>
                                            </div>
                                            <div class="media-body">#A907689</div>
                                          </div><!-- /.media -->
                                        </td>
                                        <td>Samantha</td>
                                        <td>
                                          <span class="flag flag-ecu"></span>
                                          <span class="none">arg</span><!-- NOTE: THIS ELEMENT IS FOR ONLY TABLE SORTING SO IT IS HIDDEN VISUALLY -->
                                        </td>
                                        <td>200</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="media">
                                            <div class="media-left">
                                              <span class="label label-primary"><i class="fa fa-user"></i></span>
                                            </div>
                                            <div class="media-body">#A95329</div>
                                          </div><!-- /.media -->
                                        </td>
                                        <td>George</td>
                                        <td>
                                          <span class="flag flag-ecu"></span>
                                          <span class="none">arg</span><!-- NOTE: THIS ELEMENT IS FOR ONLY TABLE SORTING SO IT IS HIDDEN VISUALLY -->
                                        </td>
                                        <td>150</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div><!-- /.panel-body -->
                              </div><!--/.panel-->


                            </div>

                       
                      </div><!-- /.tab-pane -->
                      
                      <div class="tab-pane fade" id="tab-solid-listado">
                        <div class="col-lg-6 col-md-6 col-sm-6"">
                            <div class="panel panel-default-light border-default">
                              <div class="panel-heading">
                                <div class="panel-title">
                                  <i class="fa fa-child m-right-5"></i> Niños
                                </div><!-- /.panel-title -->
                                <div class="panel-tools panel-action">
                
                                  <button class="add-button" data-toggle="modal" data-target="#responsive"><i class="fa fa-plus"></i></button>
                                </div><!-- /.panel-tools -->
                              </div><!-- /.panel-heading -->


                              <div class="panel-body">


                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Código</th>
                                        <th>Acción</th>
                                      </tr>
                                    </thead>

                                    <tbody>

                                    {% for nino in ninos %}
                                  <tr>
                                      <td>
                                          <div class="media-left">
                                            <span class="label label-primary"><i class="fa fa-user"></i></span>
                                          </div>
                                          <div class="media-body">{{ nino.nino}}</div>
                                      </td>

                                      <td>
                                        <a href="javascript:void(0)" onclick="eliminar('{{nino.id}}','{{nino.ahorro}');" data-toggle="tooltip" data-placement="top" title="Eliminar del club" class="text-danger"><i class="fa fa-times"></i></a>
                                      </td>

                                   </tr><!-- /.media -->
                                    {% endfor %}
                                    </tbody>
                                  </table>

                              </div><!-- /.panel-body -->
                            </div><!--/.panel-->

                        </div><!-- /.col-lg-6 -->

                        <div class="col-lg-6 col-md-6 col-sm-6"">
                            <div class="panel panel-default-light border-default">
                              <div class="panel-heading">
                                <div class="panel-title">
                                  <i class="fa fa-users m-right-5"></i> Facilitadores
                                </div><!-- /.panel-title -->
                                 <div class="panel-tools panel-action">
                
                                  <button class="add-button" data-toggle="modal" data-target="#co-facilitador"><i class="fa fa-plus"></i></button>
                                </div><!-- /.panel-tools -->
                              </div><!-- /.panel-heading -->



                                <div class="panel-body">

                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th>Usuario</th>
                                            <th>Tipo</th>
                                            <th>Acción</th>
                                          </tr>
                                        </thead>

                                        <tbody>

                                        {% for facilitador in facilitadores %}
                                          <tr>
                                              <td>
                                                  
                                                    <span class="label label-primary"><i class="fa fa-user"></i></span>
                                                  
                                                  {{ facilitador.usuario}}
                                              </td>

                                              <td>{{facilitador.usuario.get_role_display}}</td>

                                              <td>
                                                <a href="javascript:void(0)" onclick="eliminar_facilitador('{{facilitador.id}}','{{facilitador.usuario.nombre}}');" data-toggle="tooltip" data-placement="top" title="Eliminar facilitador" class="text-danger"><i class="fa fa-times"></i></a>
                                              </td>

                                           </tr><!-- /.media -->
                                        {% endfor %}
                                        </tbody>
                                      </table>

                                  </div><!-- /.panel-body -->
                            </div><!--/.panel-->

                          </div><!-- /.col-lg-6 -->
                       
                      </div><!-- /.tab-pane -->
                      
                      <div class="tab-pane fade" id="tab-solid-citas">

                          <div class="row">
                              <div class="col-sm-3">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#nueva-cita">
                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                   Agregar nueva cita
                                </a>
                                  <!-- Lista de citas pendientes -->
                                  <ul class="list-group" id="calendar-events">
                                    <li class="list-group-item list-group-item-success">Citas pendientes</li>
                                    {% for cita in citas_pendientes %}
                                      <li onclick="mostraCitaPorID('{{cita.pk}}')" class="list-group-item pendientes">{{cita.evento}}</li>
                                    {% endfor %}
                                  </ul>
                              </div><!-- /.col-sm-3 -->

                                 <div class="col-sm-9">
                                    <div class="m-top-30" id="calendar"></div>
                                  </div><!-- /.col-sm-9 -->
                          </div>
                      </div><!-- /.tab-pane -->
                      
                      <div class="tab-pane fade" id="tab-solid-horarios">

                        <div class="col-sm-6">
                              <h4 class="m-bottom-20">Chat</h4>
                              <div class="form-group">
                                <div class="radio">
                                  <label class="">
                                    <div class="iradio_square-grey"><input type="radio" class="icheck-square-grey" name="iradio-square"></div>
                                    Activar Chat
                                  </label>
                                </div>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                <div class="radio">
                                  <label class="">
                                    <div class="iradio_square-grey checked"><input type="radio" class="icheck-square-grey" name="iradio-square" checked=""></div>
                                    Desactivar Chat
                                  </label>
                                </div>
                              </div><!-- /.form-group -->
                              Escoja el rango de fecha y hora para el horario de chat
                              <input type="text" class="form-control" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                          </div>
                          <div class="col-sm-6">
                              <h4 class="m-bottom-20">Actividad</h4>
                              <div class="form-group">
                                <div class="radio">
                                  <label class="">
                                    <div class="iradio_square-grey"><input type="radio" class="icheck-square-grey" name="iradio-square"></div>
                                    Activar 
                                  </label>
                                </div>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                <div class="radio">
                                  <label class="">
                                    <div class="iradio_square-grey checked"><input type="radio" class="icheck-square-grey" name="iradio-square" checked=""></div>
                                    Desactivar Chat
                                  </label>
                                </div>
                              </div><!-- /.form-group -->
                              Horarios de actividad
                              <input type="text" class="form-control" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                          </div>
                      </div><!-- /.tab-pane -->

                      
                      </div><!-- /.tab-pane -->

                    </div><!-- /.tab-content -->
              </div>
            </div><!-- /.panel-body -->


            <!-- Formulario oculto de nueva cita -->
            <div class="modal fade" id="nueva-cita" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Nueva cita</h4>
                    </div><!-- /.modal-header -->
                   
                    <form id="form_cita" method="POST" class="form-horizontal">{% csrf_token %}
                     {% if form_cita %}
                    <div class="modal-body">
                            <div class="form-group m-bottom-30">
                              <label for="nombre" class="control-label col-sm-5">Día</label>
                              <div class="col-sm-7">
                                 {{ form_cita.dia }}
                              </div>
                            </div><!-- /.form-group -->
                            <div class="form-group m-bottom-30">
                              <label for="nombre" class="control-label col-sm-5">Evento</label>
                              <div class="col-sm-7">
                                  {{ form_cita.evento }}
                              </div>
                            </div><!-- /.form-group -->
                            <div class="form-group m-bottom-30">
                              <label for="nombre" class="control-label col-sm-5">Hora inicio</label>
                              <div class="col-sm-7">
                                {{ form_cita.hora_inicio }}
                              </div>
                            </div><!-- /.form-group -->
                            <div class="form-group m-bottom-30">
                              <label for="nombre" class="control-label col-sm-5">Hora fin</label>
                              <div class="col-sm-7">
                                {{ form_cita.hora_fin }}
                              </div>
                            </div><!-- /.form-group -->
                      

                    </div><!-- .modal-body -->

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div><!-- .modal-footer -->
                    {% endif %}
                    </form>
                      
                  </div>
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
        
      </div>
      <!-- CONTENT ENDS -->


<!-- Seccion de modals -->
          <div class="modal fade" tabindex="-1" id="info_cita" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Cita</h4>
                </div>
                <div class="modal-body">
                    <div class="pull-right">
                      <a class="text-danger" href="javascript:void(0);" onclick="eliminarCita();">
                        <i class="fa fa-calendar-times-o fa-3"></i>
                      </a>
                    </div>
                    <div class="cita"></div>
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-primary">Cerrar</button>
                </div><!-- /.modal-footer -->
              </div>
            </div><!-- /.modal-dialog -->
          </div>

      <div class="modal fade" tabindex="-1" id="co-facilitador" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Agregar facilitador/cofaciltador</h4>
              </div>
              <!-- /.modal-header -->
              <form class="form-horizontal" method="POST" action="{% url 'club' club=club.slug %}">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group m-bottom-30">
                      <label for="nombre" class="control-label col-sm-3">Username</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Ingrese username del facilitador o co-facilitador" id="username" name='username'>
                      </div>
                    </div>
                        <input type="hidden" name="name_club" id="name_club" value="{{ club.nombre }}">
                </div>
                <!-- /.modal-body -->
                  <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                 <button type="button" onclick="agregarFacilitador('{{club.id}}','{{club.nombre}}');" data-dismiss="modal" class="btn btn-default">Guardar</button>

                </div>
              </form>
            <!-- /.modal-footer -->
            </div>
        </div>
      </div>


    <div class="modal fade" tabindex="-1" data-width="760" id="responsive" style="display: none;">
      <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Inscribe un niño</h4>
              </div>
              <!-- /.modal-header -->
             
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group m-bottom-30">
                      <label for="nombre" class="control-label col-sm-3">Código</label>
                      <div class="col-sm-9">
                   <input type="text" class="form-control" placeholder="Ingrese código de apadrinamiento del niño" id="codigo" name='codigo'>
                      </div>
                    </div>
                        <input type="hidden" name="name_club" id="name_club" value="{{ club.nombre }}">
                  </div>
                </div>
                <!-- /.modal-body -->
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                 <button type="button" onclick="agregarNino('{{club.id}}','{{club.nombre}}');" data-dismiss="modal" class="btn btn-default">Guardar</button>

                </div>
          </div>
    </div>
     
      <!-- /.modal-footer -->
    </div>       

      {% endblock %}
      <!-- CONTENT ENDS -->
    
    <!-- CONTENT WRAPPER ENDS -->


    <div  class="chat">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Chat
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Clubes abiertos
              </li><!-- /.dropdown-header -->

              <li class="chat-mediano">
                <ul class="list-dropdown-content list-dropdown-messages">
                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-1">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 1</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-2">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 2</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club ">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-3">
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 3</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-4">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 4</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- /.dropdown -->
     </ul>
    </div>
{% block js %}
 <!--Scrips de la página  -->
    <script src="{% static 'dist/main/plugins/jquery.validate/js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nino.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main/plugins/dropify-master/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main/plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.min.js' %}"></script>
    <script src="{% static 'dist/main/plugins/icheck/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
      var citas = {{citas|safe}};
      console.log(citas);
      var ID_EVENTO_ACTUAL;

      $(document).ready(function(){
        $('.dropify').dropify();

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // TODO: check href of e.target to detect your tab
            $('#calendar').fullCalendar('render');
        });

        // Showing popup when clicked on input, not only addon
        $("#id_hora_inicio, #id_hora_fin").on("focus", function(){
          $(this).timepicker("showWidget");
        })

        // Bootstrap-timepicker examples
        $('#id_hora_inicio, #id_hora_fin').timepicker();
          
          
        $('.datepicker').datepicker();

        $('#form_cita').on('submit', function(event){
            event.preventDefault();
            guardar_cita();
        });

        // Square skin
        $('input.icheck-square-grey').iCheck({
          checkboxClass: 'icheckbox_square-grey',
          radioClass: 'iradio_square-grey'
        });

        $('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 10,
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            }
        });

      })

  

  function eliminar(id,codigo){
    swal({
              title: "¿Seguro que desea eliminar del club al niño seleccionado ?",
              text: "El niño será eliminado del club",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: '#DD6B55',
              confirmButtonText: 'Sí',
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: true
            },
            function(isConfirm) {
                if (isConfirm) {
                  
                  $('#myTable').block(style_bockui);
                  $.ajax({
                      url : "{% url 'eliminar_nino_club' %}",
                      type : "post", 
                      data : "id_nino="+id+"&csrfmiddlewaretoken={{csrf_token }}",
                      success : function(data) {
                        $('#myTable').unblock();          
                        if (data==1) {
                          swal({ 
                            title: "Niño eliminado",
                            text: "El niño ya no pertenece al club.",
                            type: "success" 
                            },
                            function(){
                               $('#niño_'+id).remove();
                              // $('#myTable').DataTable().row( $("#paciente_"+id) ).remove().draw();
                               location.reload();
                          });
                        }
                      
                        else{
                          swal("Error", "Problema al eliminar el niño del club , recargue la página e intente nuevamente.", "error"); 
                        }
                      }
                  });

                } 
            });
  }
function agregarNino(id,nombre){
  codigo=$("#codigo").val();
                  $.ajax({
                      url : "{% url 'validate_nino' %}",
                      type : "post", 
                      data: {
                        'codigo': codigo,
                        'id_club': id,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                      },
                     
                      success : function(data) {
               
                        if (data==1) {
                          swal({ 
                            title: "Inscripción de niño exitosa",
                            text: "El niño ahora pertenece al club.",
                            type: "success" 
                            },
                            function(){

                            location.reload();
                          });
                        }
                        else if(data==2){
                          swal("Error", "El niño ya se encuentra registrado en el club, recargue la página e intente nuevamente.", "error"); 
                        }
                      
                        else{
                          swal("Error", "Niño no existe , recargue la página e intente nuevamente.", "error"); 
                        }
                      }
                  });

                
          

    
    }
    function agregarFacilitador(id,nombre){
    username=$("#username").val();
                  $.ajax({
                      url : "{% url 'validate_facilitador' %}",
                      type : "post", 
                      data: {
                        'username': username,
                        'id_club': id,
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                      },
                     
                      success : function(data) {
               
                        if (data==1) {
                          swal({ 
                            title: "Se agrego el facilitador de forma exitosa",
                            text: "El facilitadr ahora pertenece al club.",
                            type: "success" 
                            },
                            function(){

                            location.reload();
                          });
                        }
                        else if(data==2){
                          swal("Error", "El faclitador ya se encuentra agregado en el club, recargue la página e intente nuevamente.", "error"); 
                        }
                      
                        else{
                          swal("Error", "Faciltiador no existe , recargue la página e intente nuevamente.", "error"); 
                        }
                      }
                  });

                
          

    
    }


        function eliminar_facilitador(id,codigo){
    swal({
              title: "¿Seguro que desea eliminar al usuario del club ?",
              text: "El facilitador será eliminado del club",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: '#DD6B55',
              confirmButtonText: 'Sí',
              cancelButtonText: "No",
              closeOnConfirm: false,
              closeOnCancel: true
            },
            function(isConfirm) {
                if (isConfirm) {
                  
                  $('#myTable').block(style_bockui);
                  $.ajax({
                      url : "{% url 'eliminar_facilitador_club' %}",
                      type : "post", 
                      data : "id_facilitador="+id+"&csrfmiddlewaretoken={{csrf_token }}",
                      success : function(data) {
                        $('#myTable').unblock();          
                        if (data==1) {
                          swal({ 
                            title: "Usuario eliminado",
                            text: "El usuario ya no forma parte del club como administrador.",
                            type: "success" 
                            },
                            function(){
                               $('#facilitador_'+id).remove();
                              // $('#myTable').DataTable().row( $("#paciente_"+id) ).remove().draw();
                               location.reload();
                          });
                        }
                      
                        else{
                          swal("Error", "Problema al eliminar el facilitador del club , recargue la página e intente nuevamente.", "error"); 
                        }
                      }
                  });

                } 
            });
  }

function guardar_cita(){
      $.ajax({
        url: '{% url "guardar_cita" %}',
        data:  $('#form_cita').serialize()+"&club_id={{club.pk}}",
        type: 'post',
        success : function(data){
            if(data==1){
                  swal({
                      title: "Completado",
                      text: "Cita guardada exitosamente!",
                      type: "success" 
                  },
                  function(){
                    console.log("Guardado");
                    location.reload();
                  });
            }else{
              swal("Error", "Problema al guardar cita, Intente nuevamente.", "error"); 
            }
               
        }
      });
    }

   
</script>
<script type="text/javascript" src="{% static 'js/citas.js' %}"></script>
{% endblock %}