<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BigChildren</title>
    <!-- REQUIRED STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="dist/main/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- REQUIRED PLUGINS -->
    <link href="dist/main/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="dist/main/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <!-- main.min.css - WISEBOARD CORE CSS -->
    <link href="dist/main/css/main.min.css" rel="stylesheet" type="text/css">
    <!-- plugins.min.css - ALL PLUGINS CUSTOMIZATIONS -->
    <link href="dist/main/css/plugins.min.css" rel="stylesheet" type="text/css">
    <!-- admin.min.css - ADMIN LAYOUT -->
    <link href="css/admin.css" rel="stylesheet" type="text/css">
    <!-- theme-default.min.css - DEFAULT THEME -->
    <link href="css/theme-default.min.css" rel="stylesheet" type="text/css">


    <link href="css/custom-styles.css" rel="stylesheet" type="text/css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
    <!-- TOP NAVIGATION STARTS -->
    <nav class="navbar navbar-fixed-top navbar-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="dashboard1.html">
            <img src="img/logo-white.svg" alt="logo">
          </a>
          <button type="button" class="sidebar-toggle rounded">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!-- /.navbar-header -->

        <form class="navbar-form navbar-left" autocomplete="off">
          <div class="input-group input-group-sm rounded">
            <input type="text" class="form-control" placeholder="Buscar">
            <span class="input-group-btn">
              <button type="submit" class="btn">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div><!-- /input-group -->
        </form><!-- /.navbar-form -->
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell flat-shadow"></i>
              <span class="label circle">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Tienes 3 <a href="page-profile.html">Notificaciones</a>
              </li><!-- /.dropdown-header -->

              <li>
                <ul class="list-dropdown-content list-dropdown-notifications">
                  <li>
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left">
                          <span class="label label-success circle">
                            <i class="fa fa-power-off"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <i class="pull-right">1 min</i> Servers restarted successfully.
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                  <li>
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left">
                          <span class="label label-info circle">
                            <i class="fa fa-user"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <i class="pull-right">2 min</i> New user registered.
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.dropdown -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope flat-shadow"></i>
              <span class="label circle">3</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Tienes 1 nuevo <a href="page-inbox.html">mensaje.</a>
              </li><!-- /.dropdown-header -->

              <li>
                <ul class="list-dropdown-content list-dropdown-messages">
                  <li>
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left">
                          <img src="img/avatar3.png" alt="avatar" class="media-object img-circle">
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <i class="pull-right">1 min</i>
                            <strong class="text-primary">Nancy Allen</strong>
                          </h6>
                          <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- /.dropdown -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="img/profile-sm.png" alt="avatar" class="img-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-profile">
              <li class="dropdown-header">Account Details</li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <img src="img/profile-lg.png" alt="avatar" class="media-object img-circle">
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">Sandra Baker</h5>
                    <p>sandrabaker@gmail.com</p>
                    <a href="page-profile.html" class="btn btn-primary btn-xs">View profile</a>
                  </div>
                </div><!-- /.media -->
              </li>

              <li>
                <a href="page-inbox.html">
                  <i class="fa fa-paper-plane-o"></i> Inbox
                </a>
              </li>
              <li>
                <a href="page-timeline.html">
                  <i class="fa fa-history"></i> Timeline
                </a>
              </li>
              <li>
                <a href="plugin-fullcalendar.html">
                  <i class="fa fa-calendar-check-o"></i> Calendar
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="page-login1.html">
                  <i class="fa fa-sign-out"></i> Sign Out
                </a>
              </li>
            </ul>
          </li><!-- /.dropdown -->


        </ul><!-- /.navbar-nav -->
      </div>
    </nav>
    <!-- TOP NAVIGATION ENDS -->

    <!-- CONTENT WRAPPER STARTS ( INCLUDES LEFT SIDEBAR AND CONTENT PART OF THE PAGE ) -->
    <div class="content-wrapper">
      <!-- SIDEBAR STARTS -->
      <div class="sidebar">
        <div class="">
          <ul class="sidebar-nav">
            <li>
              <a href="dashboard.html">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="title">USUARIOS</li>
            <li>
              <a href="administradores.html">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Adminsitradores</span>
              </a>
            </li>
            <li>
              <a href="facilitadores.html">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Facilitadores</span>
              </a>
            </li>
            <li>
              <a href="ninos.html">
                <i class="fa fa-child" aria-hidden="true"></i>
                <span>Niños</span>
              </a>
            </li>
            <li class="title">PROGRAMAS</li>
            <li class="dropdown">
              <a href="#" data-click="prevent">
                <i class="fa fa-puzzle-piece"></i>
                <span>Programas</span>
              </a>
              <ul class="inner-nav">
                <li>
                  <a href="programas.html">
                    Todos los programas
                  </a>
                </li>
                <li>
                  <a href="#">
                    Aflatoun
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- SIDEBAR ENDS -->

      <!-- CONTENT STARTS -->
      <div class="content">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="dashboard1.html"><i class="fa fa-home"></i>Home</a></li>
            <li class="active">Administradores</li>
          </ol>
        </div><!-- /.breadcrumb-wrapper -->

        <div class="page-title-wrapper">
          <h2 class="page-title">Administradores</h2>
        </div><!-- /.page-titile-wrapper -->

        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Lista de adminsitradores</div>
              </div><!-- /.panel-heading -->

              <div class="panel-body">
                <div class="list-group m-bottom-30">
                  <a href="#" class="list-group-item active">Cristina Zambrano</a>
                  <a href="#" class="list-group-item">Leoardo Espinoza</a>
                </div>
              </div>
            </div>
            

          </div>


          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <!-- <div class="panel-action">
                  <button class="btn btn-close"></button>
                  <button class="btn btn-min"></button>
                  <button class="btn btn-expand"></button>
                </div> -->
                <div class="panel-title">Agregar un nuevo Administrador</div>
              </div><!-- /.panel-heading -->

              <div class="panel-body">
                <form id="form-validation-input-groups">
                  <div class="form-group">
                    <label for="inputFirstName2">Nombre completo</label>
                    <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" placeholder="Nombre y apellido" id="inputFirstName2" name="inputFirstName2">
                      <i class="fa fa-times input-icon none"></i>
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label for="inputEmail2">Correo electrónico</label>
                    <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input type="email" class="form-control" placeholder="Escriba su correo electrónico" id="inputEmail2" name="inputEmail2">
                      <i class="fa fa-times input-icon none"></i>
                    </div>
                  </div><!-- /.form-group -->

                <div class="form-group">
                    <label for="inputUsername2">Nombre de usuario</label>
                    <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-check"></i></span>
                      <input type="text" class="form-control" placeholder="Nombre de usuario" id="inputUsername2" name="inputUsername2">
                      <i class="fa fa-times input-icon none"></i>
                    </div>
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label for="inputPassword2">Contraseña</label>
                    <div class="input-group input-icon-right">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" placeholder="Escriba una contraseña" id="inputPassword2" name="inputPassword2">
                      <i class="fa fa-times input-icon none"></i>
                    </div>
                  </div><!-- /.form-group -->
                    
                    <div class="form-layout-footer">
                      <div class="form-group text-right">
                        <button type="submit" class="btn btn-info">Guardar</button>
                      </div><!-- /.form-group -->
                    </div><!-- /.form-layout-footer -->
                </form>
              </div><!-- /.panel-body -->
            </div><!--/.panel-->

            
          </div>

        </div>

        
      </div>
      <!-- CONTENT ENDS -->
    </div>
    <!-- CONTENT WRAPPER ENDS -->


    <div  class="chat">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Chat
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                Clubes abiertos
              </li><!-- /.dropdown-header -->

              <li class="chat-mediano">
                <ul class="list-dropdown-content list-dropdown-messages">
                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-1">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 1</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-2">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            
                            <strong class="text-primary">Club # 2</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club ">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-3">
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 3</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>

                  <li class="club">
                    <a href="#" data-click="prevent">
                      <div class="media">
                        <div class="media-left club-4">
                            </div>
                        <div class="media-body">
                          <h6 class="media-heading">
                            <strong class="text-primary">Club # 4</strong>
                          </h6>
                          
                        </div>
                      </div><!-- /.media -->
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- /.dropdown -->
     </ul>
    </div>
    
    <!-- FOOTER STARTS -->
    <div class="footer">&copy; Copyright 2017 <span class="divider">|</span> <span class="hidden-xs">Children International</span> <span class="divider hidden-xs">|</span> All rights reserved.</div>
    <!-- FOOTER ENDS -->

    <!-- REQUIRED SCRIPTS -->
    <script src="dist/main/js/jquery.min.js"></script>
    <script src="dist/main/js/bootstrap.min.js"></script>
    <!-- REQUIRED PLUGINS -->
    <script src="dist/main/plugins/jquery.slimscroll/js/jquery.slimscroll.min.js"></script>
    <script src="dist/main/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="dist/main/plugins/jquery.succinct/js/jquery.succinct.min.js"></script>
    <!-- main.min.js - WISEBOARD CORE SCRIPT -->
    <script src="dist/main/js/main.min.js"></script>
    <!-- admin.min.js - GENERAL CONFIGURATION SCRIPT FOR THE PAGES -->
    <script src="js/admin.js"></script>

    <!--Scrips de la página  -->
    <script src="dist/main/plugins/jquery.validate/js/jquery.validate.min.js"></script>
    <script src="js/usuarios.js"></script>
  </body>
</html>